{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Login</h2>

        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
        <h6> Don't have an account? <a href="{% url 'register' %}">Register</a></h6>
    </div>

    <div class="mt-4 d-flex justify-content-center">
        <div class="text-center">
            <h6>For Github</h6>
            <p>If you want to run the project as admin.</p>
            <p>You can use the following credentials:</p>
            <p>Username: <strong>admin</strong></p>
            <p>Password: <strong>123</strong></p>
        </div>
    </div>
    
    

{% endblock %}
